# macOS system files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Environment & IDE files
.idea/
.vscode/
*.swp
*.swo

# Temporary & Log files
*.log
tmp/
temp/
node_modules/
docs/.vitepress/dist/
docs/.vitepress/cache/
